{{template "base" .}}

{{define "css"}}
    <style>
        body {
            font-family: 'Righteous', cursive;
            background-color: #13626db3;
        }
    </style>
{{end}}



{{define "content"}}
    <div class="container">
        <div class="row">
           <div class="col text-center mt-5">
                <h1>This Is General Room Page</h1>
            </div>
        </div>
    </div>
{{end}}



{{define "js"}}

{{end}}